{% extends base.html %}
{% load otree  %}


{% block content %}
<h4>Vælg et spørgsmål for at se hvordan det gik:</h4>

<p id="d3historyChoice"></p>
    <div id="questionHolder"></div>
    <div style="display: inline-block;" id="d3container"></div>
    <div style="display: inline-block;" id="d3consensus"></div>
    <p id="d3playback"></p>
<button type="button" id="play-button">Play</button>

{% include 'bad_influence/d3/d3_graph_results.html' %}

<p></p><p></p>
<h2>Final Rankings</h2>

<table class="table">
        <tr>
            <th></th>
            <th>point<p></p>i alt</th>
            <th>stædighed <p></p>(i sekunder)</th>
            <th># venner <p></p>i alt</th>
            <th># holdnings-<p></p>skift</th>
        </tr>
        {% for ranking in rankings %}
        <tr>
            <td><strong>player {{ ranking.0 }}</strong></td>
            <td>{{ ranking.1 }}</td>
            <td>{{ ranking.2 }}</td>
            <td>{{ ranking.3 }}</td>
            <td>{{ ranking.4 }}</td>
        </tr>
        {% endfor %}
</table>

{% endblock %}