{% extends "bad_influence/Base.html" %}
{% load otree %}

{% block content %}

    <h2>{{ question.title }}</h2>
    <p>{{ question.text }}</p>
    <p>{{ question.preference }}</p>
    <p>{{ question.challenge }}</p>


    <div style="display: flex; flex-direction: column; position: relative; min-height: 300px" class="answer-container" id="d3container">
    <div id="timer-text" style="position: absolute; top: 0; left: 8px; font-size: 40px">Tid tilbage:
        <strong><span id="timer" class="otree-timer__time-left"></span></strong>
    </div>
    </div>
    <script>
        $('#timer').on('DOMSubtreeModified', function () {
            let element = $('#timer');

            if (!element.hasClass('flash')) {
                let split = element.text().split(':');
                let minutes = parseInt(split[0]);
                let seconds = parseInt(split[1]);

                if (minutes <= 0 && seconds <= 20) {
                    $('#timer-text').addClass('flash');
                    element.addClass('flash')
                }
            }
        })
    </script>

    <div id="ButtonsHolder" class="choice-button-holder">
        <button id="GuessFalseButton" type="button" name="choice" value="False" class="btn choice-button">
            <img width="30px" height="30px" src="{{ question.majority_color_img }}"> {{ question.majority_choice }}
        </button>
        <button id="GuessTrueButton" type="button" name="choice" value="True" class="btn choice-button">
            <img width="30px" height="30px" src="{{ question.minority_color_img }}"> {{ question.minority_choice }}
        </button>
    </div>
    <script>
        // We want to randomise whether the button for the majority choice is on the left or the right
        // so that players can't catch on an tell which is the majority for the button position
        $('#ButtonsHolder').css('flex-direction', Math.random() > 0.5 ? 'row' : 'row-reverse')
    </script>


    {% for config in player.chat_configs %}
        <div class="answer-container" style="width: 100%;">
            <h4>{{ config.label }}</h4>
            {% chat nickname=player.chat_nickname channel=config.channel %}
        </div>
    {% endfor %}

    {% block scripts %}
    {% include 'bad_influence/d3/d3_graph.html' %}
    {% include 'bad_influence/channels/network_voting_channel.html' %}
    {% if view.remaining_timeout_seconds != None %}
        {% include 'otree/includes/TimeLimit.js.html' %}
    {% endif %}
    {{ form.media|default:"" }}
{% endblock %}

{% endblock %}





